- name: configuring the repo
  ansible.builtin.copy:
    src: rabbitmq.repo
    dest: /etc/yum.repos.d/rabbitmq.repo
- name: install rabbitmq-server
  ansible.builtin.package:
    name: rabbitmq-server
    state: present
- name: start rabbitmq
  ansible.builtin.service:
    name: rabbitmq-server
    state: started
    enabled: yes
- name: setting up user
  community.rabbitmq.rabbitmq_user:
    user: roboshop
    password: roboshop123
    vhost: /
    configure_priv: .*
    read_priv: .*
    write_priv: .*
    state: present